.row__wrap {
    text-align: left;
    padding: 0 30px;
}

.row__title {
    color: white;
}

.poster__wrap {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px;
}
.poster__wrap::-webkit-scrollbar {
    display: none;
}
.poster__banner {
    margin: 0 5px;
    object-fit: contain;
    width: 100%;
    max-height: 150px;
    transition: all 0.5s;
}
.poster__banner:hover {
    transform: scale(1.05);
}

.poster__LargeRow {
    max-height: 300px;
}

.player__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
