.navtop {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.nav__style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav__black {
    transition-timing-function: ease-in;
    background-color: rgba(1, 1, 1, 0.8);
    transition: all 0.5s;
}
.nav__logo {
    max-width: 150px;
}
.nav__user {
    width: 30px;
}
