.posters__banner {
    margin: 0;
}
.banner__contents {
    text-align: left;
    padding-top: 100px;
    padding-left: 90px;
    color: white;
    object-fit: contain;
}
@media (max-width: 540px) {
    .banner__contents {
        padding-left: 60px;
    }
}
.name__movie {
    font-size: 40px;
    margin: 0;
    padding: 0;
}
.poster__contents {
    padding-top: 15px;
    max-width: 460px;
}
.banner__button {
    margin-top: 10px;
}
.click__button {
    cursor: pointer;
    background-color: rgba(1, 1, 1, 0.3);
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 0.2vw;
    padding: 0.5rem 2rem;
    margin-right: 0.1rem;
}
.click__button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}
.close__trailer {
    background-color: #111;
    color: #fff;
    padding-right: 2rem;
    text-align: end;
    cursor: pointer;
}
.faded__bottom {
    height: 10rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37, 37, 37, 0.61),
        #111
    );
}

.player__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
